---
---


* {
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none; }
  /* Hide scrollbar for Chrome, Safari and Opera */
  
*::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  src: local(''),
       url('../fonts/inter-v12-latin-200.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/inter-v12-latin-200.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-300 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('../fonts/inter-v12-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/inter-v12-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-regular - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/inter-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/inter-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-500 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/inter-v12-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/inter-v12-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-600 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('../fonts/inter-v12-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/inter-v12-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-700 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/inter-v12-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/inter-v12-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-800 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  src: local(''),
       url('../fonts/inter-v12-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/inter-v12-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


:root {
  --padding: 1rem;
  --color-primary: blue;
  --color-white: white;
  --color-grey: #9f9f9f;
  --color-light: silver;
  --color-highlight: orange;
  --color-text: var(--color-primary);
  --color-background: var(--color-white);
  --font-family-body: Inter , sans-serif;
  --font-family-titles: Inter , sans-serif;
  --font-family-sans: Inter, sans-serif;
  --font-small: 0.65rem;
  --border: 1px solid var(--color-primary);
  --x:0px;
  --y:0px;
  --header-height:11rem;
  --transition:0.5s;
  --header-open:100%;

}

html {
  font-family: var(--font-family-titles);
  size:20px;
  color: var(--color-text);
  background: var(--color-background);
}

main{
	margin-top: calc(var(--header-height) + 2 * var(--padding));

}

img {
  width: 100%;
  height:100%;
  object-fit: cover;
}

body {

  padding: var(--padding);
  max-width: 100rem;
  margin: 0 auto;
  font-size:12pt;
  line-height: 1.65rem;
}
::selection {
  color: var(--color-highlight);
}
li {
  list-style: none;
}

a {  
  font-family: var(--font-family-sans);
  color: var(--color-primary);
  text-decoration: none;
  /*font-weight: 600;*/
  text-underline-offset: 0.3rem;
  transition: var(--transition);
}

a:hover{
  color:var(--color-highlight);
  transition: var(--transition);
}
strong {
  font-variation-settings: "wght" 600;
  font-optical-sizing: auto;
}
em {
  font-variation-settings:"ital" 1;
  font-optical-sizing: auto;
}
hr {
  border:0;
  border-top: var(--border);
  margin:var(--padding) 0px var(--padding);
}

h1{
  font-family: var(--font-family-titles);
  font-weight:300;
  font-size: 3rem;
  line-height: 100%;
}
h2{
  font-family: var(--font-family-titles);
  font-weight: 600;
  font-size: 2rem;
  color: var(--color-primary);
  line-height: 110%;

}
h3{
  font-family: var(--font-family-titles);
  font-weight:600;
  line-height: 150%;
  font-size: var(--font-small);
  color: var(--color-primary);
}

h4{ 
   font-weight: 600;
   font-size: var(--font-small);
}

h5, h6 {
  font-family: var(--font-family-titles);
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}
.grid {
  --columns: 8;
  --gutter: var(--padding);
  display: grid;
  grid-gap: var(--gutter);
  grid-template-columns: repeat(8, 1fr);
}
.grid > .column {
  margin-bottom: 1rem;
  grid-column: span var(--columns);
} 
.grid p{
	grid-column: 1 / 6;
}

.header{
	padding-right: 1rem !important; */
	background-color: var(--color-primary);
	color: var(--color-white);
	margin: -1rem;
	position: fixed;
	line-height: 140%;
	width: 100%;
	height: var(--header-height);
	transition: var(--transition);
}
.header a{
	color: var(--color-white);
}

.title{
	padding: 1rem 0rem 1rem 1rem;
    grid-column: 1 / 6;
}
.menu{
	padding-bottom: 1rem;
    grid-column: 6 / 9;
    display: flex;
    align-items: end;
}
.menu ul{
	width: 100%;
}
.menu li{
	border-bottom: 1px solid var(--color-white);
}
.footer{
	background-color: var(--color-primary);
	color: var(--color-white);
	padding: var(--padding);
	margin: -1rem;
	position: sticky;
	z-index: 103;
	margin-top: 1rem;
	font-size: var(--font-small);
	line-height: 140%;
}

.footer .grid {
  grid-template-columns: repeat(8, 1fr);
  --columns: 2;
}

.footer a{
	color: var(--color-white);
}

#scroll_top {
  height: 1rem;
  width: 1rem;
  font-size: var(--font-small);
  display: none;
  opacity: 0;
  position: fixed;
  bottom: 2rem;
  z-index: 103;
  border: var(--border);
  outline: none;
  background-color: var(--color-primary);
  color: var(--color-grey);
  cursor: pointer;
  padding: var(--padding);
  border-radius: 6rem;
  /* filter: drop-shadow(0px 0px 6px var(--color-light)); */
  transition: var(--transition);
  content: "";
  align-content: center;
  background-image: url(../images/icon_dropdown_arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(180deg);
  right: var(--padding);
  filter: blur(9px);
}


.content{
	grid-column: 1 / 6;
    width: 100%;
    padding-top: var(--padding);
    border-top: 1px solid var(--color-primary);
}
.subcontent{
	grid-column: 6 / 9;
    width: 100%;
    padding-top: var(--padding);
    border-top: 1px solid var(--color-primary);
}
.subcontent li{
	font-size:2rem;
	line-height: 120%;
	border-bottom: 1px solid var(--color-primary);
}
@media screen and (max-width: 800px){
    :root{
    --header-height:50px;
    --header-open:100%;
	}
    .header{
    	height: var(--header-height);
    }
    .header h1{
    	font-size:1rem !important;
    	font-weight: 500;

    }
   .grid p{
   	grid-column: 1 / 8;
   }
   .title{
   	grid-column: 1 / 6;
   }
   .menu {
   	grid-column: 6 / 9;
   }
   .content{
		grid-column: 1 / 9;
	}
	.subcontent{
		grid-column: 1 / 9;

	}
}
