</main>
<div class="footer">
  <div class="footer grid" style="border:none; padding:none">
    <div class="column footer" style="border:none; padding:none">
      <h4>Al perpetuo Crepuscolo – <i>Società dell’Informazione <br>tra propaganda e meme </i></h4>

       <h4>Un progetto di </h4>
       Stefania D'Eri, Serena De Mola e Alessandro Durighello.
      </p>
    </div>
    <div class="column footer" style="border:none">
        <h4>Con il supporto di </h4>
         Università IUAV di Venezia e Senato degli Studenti IUAV
         <h4>Identità visiva </h4> Alessandro Durighello
    </div>
    <div class="column footer" style="border:none">
       <h4>Design e sviluppo </h4> <a href="mailto:stefaniaderi1@gmail.com">Stefania D'Eri </a>
    </div>
  </div>
</div>

</body>
</html>

