<!DOCTYPE html>
<html lang="it">
<head>


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <title>{{ site.title }} | {{page.title}} </title>
  <link rel="shortcut icon" type="image/x-icon" href="<?= url('favicon.ico') ?>">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
</head>
<body>
<div onclick="topFunction()" id="scroll_top"> </div>

<header class="grid header">
  <h1><a href="{{ site.baseurl }}">Al Perpetuo Crepuscolo <br> <i>Società dell’Informazione <br>tra propaganda e meme </i></a></h1>
</header>

<main class="grid">
